<!DOCTYPE HTML>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- load CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <title>{{ clock_name }} Clock Information</title>

    <div class="container-fluid text-center">
        <img src="{{ url_for('static', filename='images/Clock logo no background.png') }}" width="8%">
        <img align="right" src="{{ url_for('static', filename='images/bioinformatics_logo.svg') }}" width="17%">
      </div>
    
    <h1 style="text-align: center;">{{ clock_name }} Clock</h1>
    </head>
    <body>
        <div>
            <table id="indvTable" style="border-collapse: collapse; margin: auto">
                <!-- <tr>
                    <th style="text-align: left; width: 20%;">Clock Name</th>
                    <td>{{ clock.clock }}</td>
                </tr> -->
                <tr>
                    <th style="text-align: left; width: 20%;">Paper</th>
                    <td></strong> <a href="{{ clock.url }}">{{ clock.paper }}</a></td>
                </tr>
                <tr>
                    <th style="text-align: left;">Species</th>
                    <td></strong> {{ clock.species }}</td>
                </tr>
                <tr>
                    <th style="text-align: left;">Data Type</th>
                    <td></strong> {{ clock.training_data_type }}</td>
                </tr>
                <tr>
                    <th style="text-align: left;">Tissue(s) Used in Training</th>
                    <td></strong> {{ clock.training_tissue }}</td>
                </tr>
                <tr>
                    <th style="text-align: left;">Age Range (Training)</th>
                    <td></strong> {{ clock.training_age_range }}</td>
                </tr>
                <tr>
                    <th style="text-align: left;">Number of CpGs</th>
                    <td></strong> {{ clock.num_cpgs | int }}</td> <!-- make the number an integer to avoid ".0" being added to each number -->
                </tr>
                <tr>
                    <th style="text-align: left;">Genome Build</th>
                    <td></strong> {{ clock.genome_build }}</td>
                </tr>
                <tr>
                    <th style="text-align: left;">Language</th>
                    <td></strong> {{ clock.language }}</td>
                </tr>
                <tr>
                    <th style="text-align: left;">Code</th>
                    <td></strong> <a href="{{ clock.code }}">{{ clock.code }}></a></td>
                </tr>
            </table>
        </div>
        <!-- <div>
            <p><strong>Clock Name:</strong> {{ clock.clock }}</p>
            <p><strong>Paper:</strong> <a href="{{ clock.url }}">{{ clock.paper }}</a></p>
            <p><strong>Data Type:</strong> {{ clock.training_data_type }}</p>
            <p><strong>Species:</strong> {{ clock.species }}</p>
            <p><strong>Tissue(s) used in training:</strong> {{ clock.training_tissue }}</p>
            <p><strong>Age range (training):</strong> {{ clock.training_age_range }}</p>
            <p><strong>Number of CpGs:</strong> {{ clock.num_cpgs }}</p>
            <p><strong>Genome Build:</strong> {{ clock.genome_build }}</p>
            <p><strong>Language:</strong> {{ clock.language }}</p>
            <p><strong>Code:</strong> <a href="{{ clock.code }}">{{ clock.code }}></a></p>
        </div> -->
        <br><br>
        <a href="{{ url_for('index') }}">Back to Clock Database</a>
    </body>
</html>