<!DOCTYPE HTML>
<html lang="en-GB">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- load CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <title>{{ clock_name }} Clock Information</title>
    </head>
    <body>
        <div class="header-bar">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/Clock logo no background.png') }}" class="header-logo left-logo">
            </a>
            <h1 class="header-title">{{ clock_name }} Clock</h1>
            <img src="{{ url_for('static', filename='images/bioinformatics_logo.svg') }}" class="header-logo right-logo">
        </div>
        
        <div class="topnav">
            <a class="../" href="/">Home</a>
            <a href="../runclocks">Run Clocks</a>
        </div>

        <div>
            <table id="indvTable" style="border-collapse: collapse; margin: 50px auto">
                <tr>
                    <th>Paper</th>
                    <td><a href="{{ clock.url }}">{{ clock.paper }}</a></td>
                </tr>
                <tr>
                    <th>Species</th>
                    <td>{{ clock.species }}</td>
                </tr>
                <tr>
                    <th>Data Type</th>
                    <td>{{ clock.training_data_type }}</td>
                </tr>
                <tr>
                    <th>Tissue(s) Used in Training</th>
                    <td>{{ clock.training_tissue }}</td>
                </tr>
                <tr>
                    <th>Age Range (Training)</th>
                    <td>{{ clock.training_age_range }}</td>
                </tr>
                <tr>
                    <th>Number of CpGs</th>
                    <td>{{ clock.num_cpgs | int }}</td> <!-- make the number an integer to avoid ".0" being added to each number -->
                </tr>
                <tr>
                    <th>Genome Build</th>
                    <td>{{ clock.genome_build }}</td>
                </tr>
                <tr>
                    <th>Language</th>
                    <td>{{ clock.language }}</td>
                </tr>
                <tr>
                    <th>Code</th>
                    {% if clock.code == "Not open source" %}
                    <td>Not open source</td>
                    {% elif clock.code %}
                    <td><a href="{{ clock.code }}">{{ clock.code }}></a></td>
                    {% endif %}
                </tr>
            </table>
        </div>
        <!-- <div>
            <p><strong>Clock Name:</strong> {{ clock.clock }}</p>
            <p><strong>Paper:</strong> <a href="{{ clock.url }}">{{ clock.paper }}</a></p>
            <p><strong>Data Type:</strong> {{ clock.training_data_type }}</p>
            <p><strong>Species:</strong> {{ clock.species }}</p>
            <p><strong>Tissue(s) used in training:</strong> {{ clock.training_tissue }}</p>
            <p><strong>Age range (training):</strong> {{ clock.training_age_range }}</p>
            <p><strong>Number of CpGs:</strong> {{ clock.num_cpgs }}</p>
            <p><strong>Genome Build:</strong> {{ clock.genome_build }}</p>
            <p><strong>Language:</strong> {{ clock.language }}</p>
            <p><strong>Code:</strong> <a href="{{ clock.code }}">{{ clock.code }}></a></p>
        </div> -->
        <p style="margin-left: 7.5%">
            <a href="{{ url_for('index') }}">Back to Clock Database</a>
        </p>
    </body>
</html>