<!DOCTYPE HTML>
<html lang="en-GB">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- load CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <title>Run Clocks</title>
    </head>
    <body>
        <!-- Header -->
        <div class="header-bar">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/Clock logo no background.png') }}" class="header-logo left-logo">
            </a>
            <h1 class="header-title">Run Clocks</h1>
            <img src="{{ url_for('static', filename='images/bioinformatics_logo.svg') }}" class="header-logo right-logo">
        </div>

        <!-- Nav bar -->
        <div class="topnav">
            <a href="/">Home</a>
            <a class = active href="run_clocks">Run Clocks</a>
        </div>
        
        <main class="container">

            <!-- Upload form for running clocks -->
            <div>
                <form method="POST" enctype="multipart/form-data" class="clock-form">                    
                    <label for="clock_name">Choose Clock:</label>
                    <select name="clock_name" id="clock_name" multiple required>
                        <option value="" disabled selected>Select a clock</option>
                        <option value="HorvathS2013">Horvath</option>
                        <option value="HannumG2013">Hannum</option>
                        <option value="HorvathS2018">SkinBlood</option>
                        <option value="LevineM2018">PhenoAge</option>
                        <option value="YangZ2016">epiTOC</option>
                        <option value="epiTOC2">epiTOC2</option>
                        <option value="DunedinPACE">DunedinPACE</option>
                        <!-- Add more options as needed -->
                    </select>
                    
                    <label for="betas_file">Upload Betas File (CSV):</label>
                    <input type="file" name="betas_file" accept=".csv" required>

                    <button type="submit">Run</button>
                </form>

                <!-- Progress spinner -->
                <div id="clock-spinner" class="clock-spinner" style="display: none;">
                    <div class="clock-face">
                        <div class="hour-hand"></div>
                        <div class="minute-hand"></div>
                        <div class="clock-centre"></div>
                        {% for i in range(12) %}
                          <div class="tick" style="--i: {{ i }}"></div> <!-- Sets the CSS var --i to the for loop iterator -->
                        {% endfor %}
                    </div>
                    <p>Running...</p>
                </div>

                <!-- Running clocks results -->
                {% if all_results %}
                <section class="results-table">
                    <h2>DNAm Age Results:</h2>
                    <table id="resultsTable">
                        <thead>
                            <tr>
                                <th>Sample</th>
                                {% for clock_name in selected_clocks %}
                                <th>{{ clock_name }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for sample, ages in all_results %}
                            <tr>
                                <td>{{ sample }}</td>
                                {% for clock_name in selected_clocks %}
                                <td>
                                    {% if clock_name in ages %}
                                        {{ '%0.2f'|format(ages[clock_name] | float) }}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>
                {% endif %}

                
                <!-- {% if full_results %}
                    <section class="results-table">
                        <h2>{{ clock_name }} DNAm Age Results:</h2>
                        <table id="resultsTable">
                            {% for sample, age in full_results %}
                            <tr>
                                <th>{{ sample }}</th>
                                <td>{{ age }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </section>
                {% endif %} -->
                
                <!-- Error handling -->
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                    {% for msg in messages %}
                    <li style="color: red;">{{ msg }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}
            </div>
        </main>
        
        <script src="{{ url_for('static', filename='js/run_clocks.js') }}"></script>
    </body>
</html>