body {
    font-family: 'Arial', sans-serif; /* Apply a custom font */
    background-color: #f8f9fa;
    color: #212529;
    margin: 0px; /* To avoid navbar from having a gap on the left */
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

/* Apply header 1 font */
h1 {
    font-size: 300%;
    text-align: center;
    margin-top: 0;
}

/* Nav bar formatting */
.topnav {
    list-style-type: none;
    background-color: #003366;
    color: white;
    font-size: 120%;
    padding: 0px;
    margin-left: 0px;
    overflow: hidden;
    width: 100%;
}
.topnav a {
    float: left;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.topnav a:hover {
    background-color: #00264c;
}
.topnav a:visited {
    color: white;
}

.header-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f8f9fa;
}

.header-logo {
    max-height:110px;
}

.left-logo {
    width: 100%;
}

.right-logo {
    width: 17%;
}

.header-title {
    flex-grow: 1;
    text-align: center;
    font-size: 300%;
    margin: 0;
}

/* DataTable overall styling */
#clockTable {
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%
} 

/* Table header */
#clockTable thead {
    background-color: #003366;
    color: white;
}

/* Header cell styling */
#clockTable th {
    border: 1px solid #dee2e6;
    text-align: left;
}

/* Body cell styling */
#clockTable td {
    border: 1px solid #dee2e6;
}

/* Hover effect */
#clockTable tbody tr:hover {
    background-color: #e9ecef;
    cursor: pointer;
}

/* Target the DataTables wrapper to create space around the controls */
#clockTable_wrapper {
    margin: 30px 80px; /* Add margin to create space */
}

/* Hyperlinks */
a {
    color: blue;
}
/* Override the purple color for visited links */
a:visited {
    color: blue;
}

/* Tooltip container */
.tooltip-container {
    position: relative;
    display: inline-block;
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: help;
}

/* Tooltip text */
.tooltip-container .tooltip-text {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1000;
    bottom: 125%; /* Position above the element */
    left: 50%;
    transform: translateX(-50%); /* Appears in middle of screen instead of off end */
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

/* Show tooltip instantly on hover */
.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1; /* makes it appear faster than default tooltip, which takes 2 seconds of hovering */
}

/* indvTable styling */
#indvTable {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
#indvTable td, #indvTable th {
    border: 1px solid #ddd;
    padding: 8px 10px;
    text-align: left;
}
#indvTable th {
    width: 20%;
}

/* Pagination, Search box, and Info text - not used
.dataTables_wrapper {
    font-size: 0.9rem;
} */
 

/* Pagination buttons - not used
.dataTables_paginate .paginate_button {
    background-color: #007bff;
    color: white; not used
    border: none;
    margin: 2px;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
} */

/* Active pagination button - not used
.dataTables_paginate .paginate_button.current {
    background-color: #0056b3;
} */

/* Search box - not used
.dataTables_filter input {
    margin-left: 5px;
    padding: 5px;
    border: 1px solid #007bff;
    border-radius: 3px;
} */

/* Loading indicator - not used
.dataTables_processing {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 3px;
} */